﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    


<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: lightblue">
    <div class="abt">
        <h1>About Us</h1>
        <p>Whether you're looking for an airport near you, or you're planning a trip, Airport Finder can help.</p>
    </div>




    <div class="pilot">
        <section class="about">
            <div class="about-image">



                <img src="~/images/pilot.png" class="img-rounded" alt="flight">
            </div>

        </section>



    </div>
    <div class="about-content">
        <br />
        <br />
        <h2>Welcome to the Airport Finder application!</h2>
        <p>
            Welcome to the Airport Finder application! This app is designed to help you find airports around India,
            quickly and easily. Whether you're looking for an airport near you, or you're planning a trip,
            Airport Finder can help.<br />



            <b style="font-family:'Copperplate Gothic'"> Features</b><br />



            Search for airports between two cities.<br />
            Search for airports by State.<br />
            @*View airport information, including location,cost,distance.
                Get directions to airports from your current location.*@
            Save your favorite airports for quick reference.<br />



            <b style="font-family:'Copperplate Gothic'"> Benefits</b><br />



            Save time and hassle when planning your travel.<br />
            Find the perfect airport for your needs.
            @*Get directions to airports from anywhere.*@
            @*Keep track of your favorite airports.*@



        </p>



    </div>
</body>
</html>
<style>
    .abt {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 20px auto;
    }

        .abt h1 {
            font-size: 50px;
            color: #000;
            margin-bottom: 25px;
            position: relative;
        }

         /*   .abt h1::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                display: block;
                margin: 0 auto;
                background-color: #0094ff;
            }*/

        .abt p {
            font-family:'Gill Sans MT';
            font-size: 18px;
            color: #666;
            margin-bottom: 35px;
        }





    .pilot {
        width: 90%;
        margin: 0 auto;
        padding: 10px 20px;
    }

    .about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }



    .about-image {
        float: left;
        margin-right: 30px;
        /* overflow:hidden;*/
    }

        .about-image img {
            max-width: 55%;
            height: 55%;
            display: block;
            transition: 0.3s ease;
        }

        .about-image:hover img {
            transform: scale(0.9);
        }

    .about-content {
        margin-right: 30px;
        float: right;
        margin-left: 650px;
        margin-top: -400PX;
    }

        .about-content h2 {
            font-family:'Copperplate Gothic';
            font-size: 23px;
            margin-bottom: 15px;
            color: darkblue;
        }

        .about-content p {
            font-family: 'Gill Sans MT';
            font-size: 18px;
            line-height: 1.5;
            color: black;
        }
</style>

}