<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/responsiveslides.min.js"></script>
    <a href="~/fonts/glyphicons-halflings-regular.eot"></a>
    <a href="~/fonts/glyphicons-halflings-regular.ttf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>
</head>
<body>

    <div class="header">
        <div class="header_top">
            <div class="logo">
                <img src="~/images/mlogo1.png" style="height:60px ;width:46px;float:left" />
                <a href="../airportinfoes/Index">
                    <h1 style="padding: 12px 95px;margin-left:-45px"><b>MPHASIS AIRLINES</b></h1>
                    @*<h2>AIRLINES</h2>*@
                </a>
            </div>
            <div class="menu" style="font-weight:bold">
                <ul>
                    @*@Url.Action("AirportInfoes","Index")*@
                    <li><a href="../airport/Index"><em>HOME</em></a></li>
                    <li><a href="../airport/Services"><em>SERVICES</em></a></li>
                    <li><a href="../airport/About"><em>ABOUT US</em></a></li>
                    <li><a href="../airport/Contact"><em>FEEDBACK</em></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()



    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)






</body>
</html>